

body {
    text-align: center;
}

h1 {
    font-size: 60px;
}

div {
    margin-bottom: 30px;
}

p{
    font-size: 25px;
    font-family: sans-serif;
}

.button-names {
    font-family: 'Kanit';
}

#start, #stop, #reset {
    background-color:#FCBB5A;
    color: black;
    height: 50px;
    width: 140px;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
#start:hover, #stop:hover, #reset:hover {
    cursor: pointer;
    background-color: #727272;
    color: white;
}
