body {
    text-align: center;
    background-color: beige;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 15px;
}

label {
    font-size: 25px;
    font-family: 'Salsa-Regular';
    font-weight: bold;
}
#guessBar {
    text-align: center;
    height: 40px;
    width: 200px;
    border: solid black 6px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Salsa-Regular';
    font-weight: bold;

}

#submit-btn {
    height: 40px;
    width: 110px;
    border: solid black 1px;
    border-radius: 100px;
    background-color: #FAE22E ;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
}

#submit-btn:hover {
    background-color: black;
    color: white;
}

.hintAndResult {
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Righteous';
    font-weight: bold;
}
#hint {
    color: black;
}
#num {
    color: #02B027;
 }

.stats-board{
    width: 520px;
    height: 250px;
    font-family: 'Salsa-Regular';
    font-size: 30px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}

#new-game {
    height: 40px;
    background-color: #FAE22E;
    border: solid black 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Salsa-Regular';
    cursor: pointer;
}

#new-game:hover {
    color: white;
    background-color: black ;
}

/* Media Queries */

@media only screen and (max-width: 448px) {
    .stats-board {
        width: 350px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 395px) {
    .stats-board {
        width: 300px;
        font-size: 20px;
    }
}

