html {
    margin: 0;
}

.nav-a:hover {
    background-color: #FEC000;
    color: black;
}

.heading:hover{
    font-size: 52px;
}

.div-a{
    width: 400px;
    font-family: 'Salsa-Regular';
    font-size: 25px;
}
.div-a:hover{
    background-color: #FEC000 ;
    margin-top: 12px;
    margin-bottom: 30px;
}

/* Media Queries */

@media only screen and (max-width: 448px) {
    .div-a {
        width: 350px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 395px) {
    .div-a {
        width: 300px;
        font-size: 20px;
    }
}