nav {
    margin-bottom: 20px;
}
nav a{
    padding: 4px;
    border: solid black 1.5px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8px;
    transition: all 0.5s ease-in-out;
}
nav a:hover {
    background-color: #FF2D2D;
    color: white;
}

#title {
    padding: 2px;
    font-size: 12px;
    width: 150px;
}

button {
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

#description {
    font-size: 10px;
}